.container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  width: 600px;
  border-radius: 2px;
  background-color: #f5f6f7;
  box-shadow: 0 2px 8px 0 #c5cdd4;
}
.home {
  background-color: #ffffff;
  border-radius: 2px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.home-element {
  color: #152934;
  font-family: "Uni Neue";
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
.home-icon {
  display: inline-block;
  width: 10px;
  height: 6px;
}
.consignment {
  margin-top: 8px;
  padding: 20px 24px;
  border-radius: 2px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.consignment-title {
  color: #5a6872;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
}
.consignment-id {
  color: #152934;
  font-family: "Uni Neue";
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  margin-right: 0.5px;
}
.consignment-img {
  display: inline-block;
}
.shipping {
  margin-top: 8px;
  padding: 24px;
  border-radius: 2px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shipping-title {
  color: #5a6872;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
}
.shipping-info {
  text-align: right;
}

.shipping-contact {
  color: #152934;
  font-family: "Uni Neue";
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}
.shipping-address {
  margin-top: 8px;
  color: #5a6872;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
}
.timeline {
  width: 600px;
  margin-top: 8px;
  padding-left: 24px;
  padding-bottom: 24px;
  border-radius: 2px;
  background-color: #ffffff;
}
.timeline-title {
  padding-top: 24px;
  color: #152934;
  font-family: "Uni Neue";
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}
.timeline-img {
  position: relative;
  width: 544px;
  height: 140px;
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 64px;
}
.box {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}
.timeline-img:before {
  top: 58%;
  width: 85%;
  left: 8%;
  content: "";
  border: 1px dashed #8c9ba5;
  position: absolute;
}
.text {
  height: 40px;
  color: #152934;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  padding-top: 10px;
  position: relative;
  width: 64px;
  padding-top: 19px;
}
.text:before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  top: -10px;
  left: 22px;
  content: url("../resource/tick.svg");
}
.timeline-details {
  height: 264px;
  width: 544px;
  margin-bottom: 16px;
}
.item {
  height: 40px;
  width: 544px;
  border-left: 4px solid #e83330;
  padding-left: 12px;
  margin-bottom: 16px;
}
.title {
  height: 20px;
  width: 528px;
  color: #152934;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
}
.time {
  margin-top: 4px;
  height: 16px;
  width: 101px;
  color: #8c9ba5;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
}
.load-more {
  margin-top: 16px;
  margin-left: 233px;
}
.load-more-title {
  height: 20px;
  width: 68px;
  color: #e83330;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.load-more-icon {
  display: inline-block;
  height: 8px;
  width: 12px;
}
.product {
  padding: 24px;
  height: 198px;
  width: 600px;
  margin-top: 8px;
  border-radius: 2px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-title {
  color: #152934;
  font-family: "Uni Neue";
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 16px;
}
.product-list {
  margin-top: 16px;
}
.product-list-item {
  color: #152934;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
}
.receipt {
  padding-right: 77px;
  display: flex;
  align-items: center;
}
.receipt-title {
  color: #152934;
  font-family: "Uni Neue";
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  margin-right: 16px;
}
.receipt-cash {
  box-sizing: border-box;
  height: 20px;
  width: 121px;
  border: 1px solid #43a047;
  border-radius: 4px;
  background-color: #ffffff;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #43a047;
  font-family: "Uni Neue";
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
}
.receipt-cash-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
}
.receipt-details {
  margin-top: 16px;
}
.element {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.element-name {
  color: #152934;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
}
.dotted-separator {
  height: 4px;
  width: 280px;
  box-sizing: border-box;
  border-top: 1px dashed #cccccc;
  border-bottom: 1px dashed #cccccc;
}
.total {
  height: 20px;
  width: 32px;
  color: #152934;
  font-family: "Uni Neue";
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
.total-price {
  height: 24px;
  width: 53px;
  color: #152e3b;
  font-family: "Uni Neue";
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  text-align: right;
}
.merchant {
  height: 128px;
  width: 600px;
  border-radius: 2px;
  background-color: #ffffff;
  margin-top: 8px;
  margin-bottom: 10px;
  padding-top: 16px;
  padding-left: 16px;
}
.merchant-title {
  color: #152934;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.merchant-info {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.merchant-logo {
  box-sizing: content-box;
  height: 64px;
  width: 64px;
  border: 0.73px solid #f5f6f7;
  border-radius: 1.45px 1.45px 0 0;
  margin-left: 16px;
  float: left;
  margin-right: 16px;
}
.merchant-name {
  height: 24px;
  width: 248px;
  color: #e83330;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
}
.merchant-description {
  height: 18px;
  width: 248px;
  color: #152934;
  font-family: Roboto;
  font-size: 12px;
  line-height: 18px;
}
